.login__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.login__heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.login__error {
  color: red;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.login__block {
  width: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
}

.login__input {
  display: block;
  width: 100%;
  outline: none;
  border-radius: 3px;
  border: 2px solid #ccc;
  min-height: 40px;
  margin-bottom: 20px;
  padding-left: 5px;
}

.login__button {
  width: 100px;
  color: white;
  border: none;
  outline: none;
  padding: 15px 30px;
  margin-top: 5px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  background-color: lightseagreen;
  cursor: pointer;
}
